// animation easing functions
$easing-standard-productive: cubic-bezier(0.2, 0, 0.38, 0.9);
$easing-standard-expressive: cubic-bezier(0.4, 0.14, 0.3, 1);
$easing-entrance-productive: cubic-bezier(0, 0, 0.38, 0.9);
$easing-entrance-expressive: cubic-bezier(0, 0, 0.3, 1);
$easing-exit-productive: cubic-bezier(0.2, 0, 1, 0.9);
$easing-exit-expressive: cubic-bezier(0.4, 0.14, 1, 1);

// animation durations
$duration-fast: 70ms;
$duration-moderate: 150ms;
$duration-slow: 400ms;
$bounce-duration: 3500ms;
