:root {
  /* colors */
  --color-transparent: #fff0;
  --color-blue-100: #d6eaff;
  --color-blue-200: #a8ceff;
  --color-blue-300: #73a9ff;
  --color-blue-400: #5792ff;
  --color-blue-50: #ebf5ff;
  --color-blue-500: #2b61ff;
  --color-blue-600: #003cf0;
  --color-blue-700: #002db3;
  --color-blue-800: #001d75;
  --color-blue-900: #000f3d;
  --color-blue-950: #00081f;
  --color-blue-transparent-100: #d6eaffa3;
  --color-blue-transparent-200: #a8ceffa3;
  --color-blue-transparent-300: #73a9ffa3;
  --color-blue-transparent-400: #5792ffa3;
  --color-blue-transparent-50: #ebf5ffa3;
  --color-blue-transparent-500: #2b61ffa3;
  --color-blue-transparent-600: #003cf0a3;
  --color-blue-transparent-700: #002db3a3;
  --color-blue-transparent-800: #001d75a3;
  --color-blue-transparent-900: #000f3da3;
  --color-blue-transparent-950: #00081fa3;
  --color-gray-0: #fff;
  --color-gray-100: #f6f7f7;
  --color-gray-1000: #000;
  --color-gray-200: #f3f4f5;
  --color-gray-300: #e3e4e7;
  --color-gray-400: #c1c3c9;
  --color-gray-50: #fafafa;
  --color-gray-500: #8d919d;
  --color-gray-600: #505258;
  --color-gray-700: #28292c;
  --color-gray-800: #151617;
  --color-gray-900: #232424;
  --color-gray-950: #171717;
  --color-gray-transparent-0: #ffffffa3;
  --color-gray-transparent-100: #f6f7f7a3;
  --color-gray-transparent-1000: #000000a3;
  --color-gray-transparent-200: #f3f4f5a3;
  --color-gray-transparent-300: #e3e4e7a3;
  --color-gray-transparent-400: #c1c3c9a3;
  --color-gray-transparent-50: #fafafaa3;
  --color-gray-transparent-500: #8d919da3;
  --color-gray-transparent-600: #505258a3;
  --color-gray-transparent-700: #28292ca3;
  --color-gray-transparent-800: #151617a3;
  --color-gray-transparent-900: #0d0e0ea3;
  --color-gray-transparent-950: #0c0c0ca3;
  --color-green-100: #cbf6db;
  --color-green-200: #97edb6;
  --color-green-300: #67e495;
  --color-green-400: #33db71;
  --color-green-50: #e5faed;
  --color-green-500: #1fb255;
  --color-green-600: #198f44;
  --color-green-700: #136d34;
  --color-green-800: #0c4521;
  --color-green-900: #062311;
  --color-green-950: #031108;
  --color-indigo-100: #e2e3fd;
  --color-indigo-200: #c1c3fa;
  --color-indigo-300: #a5a7f8;
  --color-indigo-400: #888cf6;
  --color-indigo-50: #f1f1fe;
  --color-indigo-500: #686df4;
  --color-indigo-600: #2930ef;
  --color-indigo-700: #0e14c3;
  --color-indigo-800: #090d80;
  --color-indigo-900: #050743;
  --color-indigo-950: #020321;
  --color-lime-100: #effacc;
  --color-lime-200: #e1f59e;
  --color-lime-300: #d1f06b;
  --color-lime-400: #c1eb38;
  --color-lime-50: #f8fde8;
  --color-lime-500: #aad816;
  --color-lime-600: #87ab11;
  --color-lime-700: #66820d;
  --color-lime-800: #465809;
  --color-lime-900: #212a04;
  --color-lime-950: #121702;
  --color-magenta-100: #f9dcf9;
  --color-magenta-200: #f2b9f3;
  --color-magenta-300: #ed9bee;
  --color-magenta-400: #e678e8;
  --color-magenta-50: #fceefc;
  --color-magenta-500: #e055e2;
  --color-magenta-600: #d324d6;
  --color-magenta-700: #9f1ba1;
  --color-magenta-800: #671269;
  --color-magenta-900: #340934;
  --color-magenta-950: #1a041a;
  --color-orange-100: #ffe7d6;
  --color-orange-200: #ffcba8;
  --color-orange-300: #ffb380;
  --color-orange-400: #ff9a57;
  --color-orange-50: #fff3eb;
  --color-orange-500: #ff7f2b;
  --color-orange-600: #f06000;
  --color-orange-700: #b34700;
  --color-orange-800: #752f00;
  --color-orange-900: #3d1800;
  --color-orange-950: #1f0c00;
  --color-pink-100: #ffe0ee;
  --color-pink-200: #ffc2dd;
  --color-pink-300: #ff9eca;
  --color-pink-400: #ff80b9;
  --color-pink-50: #fff0f7;
  --color-pink-500: #ff61a9;
  --color-pink-600: #ff1a81;
  --color-pink-700: #d1005e;
  --color-pink-800: #8f0040;
  --color-pink-900: #470020;
  --color-pink-950: #240010;
  --color-purple-100: #e6d6fa;
  --color-purple-200: #d0b2f5;
  --color-purple-300: #b889f0;
  --color-purple-400: #a265ec;
  --color-purple-50: #f4edfd;
  --color-purple-500: #893de7;
  --color-purple-600: #6c1ad1;
  --color-purple-700: #50139a;
  --color-purple-800: #360d68;
  --color-purple-900: #1a0632;
  --color-purple-950: #0e031b;
  --color-red-100: #ffd6d6;
  --color-red-200: #ffa8a8;
  --color-red-300: #ff8080;
  --color-red-400: #ff5757;
  --color-red-50: #ffebeb;
  --color-red-500: #ff2b2b;
  --color-red-600: #f00000;
  --color-red-700: #b30000;
  --color-red-800: #750000;
  --color-red-900: #3d0000;
  --color-red-950: #1f0000;
  --color-teal-100: #cef3f3;
  --color-teal-200: #9ce7e7;
  --color-teal-300: #6bdcdc;
  --color-teal-400: #39d0d0;
  --color-teal-50: #e6f9f9;
  --color-teal-500: #28a7a7;
  --color-teal-600: #1f8484;
  --color-teal-700: #186363;
  --color-teal-800: #104242;
  --color-teal-900: #082121;
  --color-teal-950: #041010;
  --color-yellow-100: #fdf3d3;
  --color-yellow-200: #fce6a6;
  --color-yellow-300: #fada7a;
  --color-yellow-400: #f9ce4e;
  --color-yellow-50: #fefaeb;
  --color-yellow-500: #f7c224;
  --color-yellow-600: #d9a408;
  --color-yellow-700: #a27b06;
  --color-yellow-800: #6c5204;
  --color-yellow-900: #362902;
  --color-yellow-950: #1e1601;
  --model-i2v-selected: rgba(141, 25, 67, 84%);
  --model-t2v-selected: rgba(25, 91, 141, 84%);
  --dark-mode-shadow: rgba(80, 82, 88, 64%);

  /* numbers */
  --scale-0: 0; // please note this might be problematic with calc()
  --scale-1: 1px;
  --scale-2: 2px;
  --scale-4: 4px;
  --scale-6: 6px;
  --scale-8: 8px;
  --scale-10: 10px;
  --scale-12: 12px;
  --scale-14: 14px;
  --scale-16: 16px;
  --scale-18: 18px;
  --scale-20: 20px;
  --scale-24: 24px;
  --scale-32: 32px;
  --scale-40: 40px;
  --scale-48: 48px;
  --scale-999: 999px;
  --dimensions-icon-xs: var(--scale-12);
  --dimensions-icon-sm: var(--scale-14);
  --dimensions-icon-md: var(--scale-16);
  --dimensions-icon-lg: var(--scale-18);
  --dimensions-icon-xl: var(--scale-20);
  --gap-no: var(--scale-0); // please note this might be problematic with calc()
  --gap-3xs: var(--scale-1);
  --gap-xxs: var(--scale-2);
  --gap-xs: var(--scale-4);
  --gap-sm: var(--scale-6);
  --gap-md: var(--scale-8);
  --gap-lg: var(--scale-16);
  --gap-xl: var(--scale-24);
  --gap-xxl: var(--scale-32);
  --gap-3xl: var(--scale-40);
  --gap-4xl: var(--scale-48);
  --spacing-3xs: var(--scale-1);
  --spacing-xxs: var(--scale-2);
  --spacing-xs: var(--scale-4);
  --spacing-sm: var(--scale-6);
  --spacing-md: var(--scale-8);
  --spacing-lg: var(--scale-16);
  --spacing-xl: var(--scale-24);
  --spacing-xxl: var(--scale-32);
  --spacing-3xl: var(--scale-40);
  --spacing-4xl: var(--scale-48);
  --radius-3xs: var(--scale-1);
  --radius-xxs: var(--scale-2);
  --radius-xs: var(--scale-4);
  --radius-sm: var(--scale-6);
  --radius-md: var(--scale-8);
  --radius-lg: var(--scale-12);
  --radius-xl: var(--scale-16);
  --radius-xxl: var(--scale-24);
  --radius-round: var(--scale-999);

  /* Shared Modal / confirmation shell corners. Apps may override this radius. */
  --modal-border-radius: var(--radius-xl);

  /* button dimensions */
  --xs-gap: var(--gap-no); // please note this might be problematic with calc()
  --xs-h-padding: var(--spacing-xxs);
  --xs-label-spacing: var(--spacing-xxs);
  --xs-only-icon-padding: var(--xs-v-padding);
  --xs-radius: var(--radius-xs);
  --xs-v-padding: var(--spacing-xxs);
  --xs-icon-size: var(--dimensions-icon-xs);
  --sm-gap: var(--gap-xxs);
  --sm-h-padding: var(--spacing-xxs);
  --sm-label-spacing: var(--spacing-xxs);
  --sm-only-icon-padding: var(--sm-v-padding);
  --sm-radius: var(--radius-xs);
  --sm-v-padding: var(--spacing-xxs);
  --sm-icon-size: var(--dimensions-icon-sm);
  --md-gap: var(--gap-xxs);
  --md-label-spacing: var(--spacing-xxs);
  --md-only-icon-padding: var(--md-v-padding);
  --md-radius: var(--radius-sm);
  --md-v-padding: var(--spacing-xs);
  --md-h-padding: var(--spacing-sm);
  --md-icon-size: var(--dimensions-icon-md);
  --lg-label-spacing: var(--spacing-xxs);
  --lg-only-icon-padding: var(--lg-v-padding);
  --lg-radius: var(--radius-md);
  --lg-gap: var(--gap-xs);
  --lg-v-padding: var(--spacing-sm);
  --lg-h-padding: var(--spacing-md);
  --lg-icon-size: var(--dimensions-icon-lg);
  --xl-label-spacing: var(--spacing-xxs);
  --xl-only-icon-padding: var(--xl-v-padding);
  --xl-radius: var(--radius-md);
  --xl-gap: var(--gap-xs);
  --xl-v-padding: var(--spacing-md);
  --xl-h-padding: var(--spacing-lg);
  --xl-icon-size: var(--dimensions-icon-xl);

  /* z-indices */
  --z-hide: -1;
  --z-base: 0;
  --z-flat: 1;
  --z-raised: 5; /* Hover states, overlay buttons on media */
  --z-sticky: 10; /* Sticky nav, app bars */
  --z-dropdown: 20; /* Dropdown menus */
  --z-popover: 30; /* Popovers, tooltips */
  --z-modal: 40; /* Dialogs, overlays */
  --z-toast: 50; /* Notifications */
  --z-max: 100;
}
