@mixin light-theme-variables {
  --semantic-bg-action-inverse-primary: var(--color-gray-200);
  --semantic-bg-action-inverse-secondary: var(--color-gray-50);
  --semantic-bg-action-primary-active: var(--color-gray-900);
  --semantic-bg-action-primary-enabled: var(--color-gray-700);
  --semantic-bg-action-primary-hover: var(--color-gray-800);
  --semantic-bg-action-primary-selected: var(--color-gray-950);
  --semantic-bg-action-secondary-active: var(--color-gray-400);
  --semantic-bg-action-secondary-enabled: var(--color-gray-200);
  --semantic-bg-action-secondary-hover: var(--color-gray-300);
  --semantic-bg-action-secondary-selected: var(--color-gray-500);
  --semantic-bg-black-primary: var(--color-gray-1000);
  --semantic-bg-black-secondary: var(--color-gray-950);
  --semantic-bg-brand-primary-active: var(--color-blue-700);
  --semantic-bg-brand-primary-enabled: var(--color-blue-500);
  --semantic-bg-brand-primary-hover: var(--color-blue-600);
  --semantic-bg-brand-primary-selected: var(--color-blue-800);
  --semantic-bg-brand-secondary-active: var(--color-blue-200);
  --semantic-bg-brand-secondary-enabled: var(--color-blue-50);
  --semantic-bg-brand-secondary-hover: var(--color-blue-100);
  --semantic-bg-brand-secondary-selected: var(--color-blue-300);
  --semantic-bg-danger-primary-active: var(--color-red-700);
  --semantic-bg-danger-primary-enabled: var(--color-red-500);
  --semantic-bg-danger-primary-hover: var(--color-red-600);
  --semantic-bg-danger-primary-selected: var(--color-red-800);
  --semantic-bg-danger-secondary-active: var(--color-red-200);
  --semantic-bg-danger-secondary-enabled: var(--color-red-50);
  --semantic-bg-danger-secondary-hover: var(--color-red-100);
  --semantic-bg-danger-secondary-selected: var(--color-red-300);
  --semantic-bg-disabled-primary: var(--color-gray-300);
  --semantic-bg-disabled-secondary: var(--color-gray-200);
  --semantic-bg-overlay-primary: var(--color-gray-transparent-0);
  --semantic-bg-overlay-secondary: var(--color-gray-transparent-100);
  --semantic-bg-overlay-secondary-inverse: var(--color-gray-transparent-900);
  --semantic-bg-overlay-tertiary: var(--color-gray-transparent-400);
  --semantic-bg-overlay-tertiary-inverse: var(--color-gray-transparent-400);
  --semantic-bg-overlay-universal: var(--color-gray-transparent-950);
  --semantic-bg-primary: var(--color-gray-0);
  --semantic-bg-primary-inverse: var(--color-gray-900);
  --semantic-bg-secondary: var(--color-gray-50);
  --semantic-bg-select: var(--color-blue-transparent-50);
  --semantic-bg-separator-primary: var(--color-gray-transparent-300);
  --semantic-bg-separator-secondary: var(--color-gray-transparent-200);
  --semantic-bg-success-primary-active: var(--color-green-700);
  --semantic-bg-success-primary-enabled: var(--color-green-500);
  --semantic-bg-success-primary-hover: var(--color-green-600);
  --semantic-bg-success-primary-selected: var(--color-green-800);
  --semantic-bg-success-secondary: var(--color-green-50);
  --semantic-bg-tertiary: var(--color-gray-300);
  --semantic-bg-text-selection: var(--color-blue-200);
  --semantic-bg-transparent: var(--color-transparent);
  --semantic-bg-warning-primary-active: var(--color-yellow-700);
  --semantic-bg-warning-primary-enabled: var(--color-yellow-500);
  --semantic-bg-warning-primary-hover: var(--color-yellow-600);
  --semantic-bg-warning-primary-selected: var(--color-yellow-800);
  --semantic-bg-warning-secondary: var(--color-yellow-50);
  --semantic-bg-white-primary-active: var(--color-gray-100);
  --semantic-bg-white-primary-enabled: var(--color-gray-0);
  --semantic-bg-white-primary-hover: var(--color-gray-50);
  --semantic-bg-white-primary-selected: var(--color-gray-200);
  --semantic-bg-white-secondary-active: var(--color-gray-200);
  --semantic-bg-white-secondary-enabled: var(--color-gray-50);
  --semantic-bg-white-secondary-hover: var(--color-gray-100);
  --semantic-bg-white-secondary-selected: var(--color-gray-300);
  --semantic-border-focus: var(--semantic-fg-primary);
  --semantic-extended-blue-active: var(--color-blue-700);
  --semantic-extended-blue-enabled: var(--color-blue-500);
  --semantic-extended-blue-hover: var(--color-blue-600);
  --semantic-extended-blue-selected: var(--color-blue-800);
  --semantic-extended-green-active: var(--color-green-700);
  --semantic-extended-green-enabled: var(--color-green-500);
  --semantic-extended-green-hover: var(--color-green-600);
  --semantic-extended-green-selected: var(--color-green-800);
  --semantic-extended-indigo-active: var(--color-indigo-700);
  --semantic-extended-indigo-enabled: var(--color-indigo-500);
  --semantic-extended-indigo-hover: var(--color-indigo-600);
  --semantic-extended-indigo-selected: var(--color-indigo-800);
  --semantic-extended-lime-active: var(--color-lime-700);
  --semantic-extended-lime-enabled: var(--color-lime-500);
  --semantic-extended-lime-hover: var(--color-lime-600);
  --semantic-extended-lime-selected: var(--color-lime-800);
  --semantic-extended-magenta-active: var(--color-magenta-700);
  --semantic-extended-magenta-enabled: var(--color-magenta-500);
  --semantic-extended-magenta-hover: var(--color-magenta-600);
  --semantic-extended-magenta-selected: var(--color-magenta-800);
  --semantic-extended-orange-active: var(--color-orange-700);
  --semantic-extended-orange-enabled: var(--color-orange-500);
  --semantic-extended-orange-hover: var(--color-orange-600);
  --semantic-extended-orange-selected: var(--color-orange-800);
  --semantic-extended-pink-active: var(--color-pink-700);
  --semantic-extended-pink-enabled: var(--color-pink-500);
  --semantic-extended-pink-hover: var(--color-pink-600);
  --semantic-extended-pink-selected: var(--color-pink-800);
  --semantic-extended-purple-active: var(--color-purple-700);
  --semantic-extended-purple-enabled: var(--color-purple-500);
  --semantic-extended-purple-hover: var(--color-purple-600);
  --semantic-extended-purple-selected: var(--color-purple-800);
  --semantic-extended-red-active: var(--color-red-700);
  --semantic-extended-red-enabled: var(--color-red-500);
  --semantic-extended-red-hover: var(--color-red-600);
  --semantic-extended-red-selected: var(--color-red-800);
  --semantic-extended-teal-active: var(--color-teal-700);
  --semantic-extended-teal-enabled: var(--color-teal-500);
  --semantic-extended-teal-hover: var(--color-teal-600);
  --semantic-extended-teal-selected: var(--color-teal-800);
  --semantic-extended-yellow-active: var(--color-yellow-700);
  --semantic-extended-yellow-enabled: var(--color-yellow-500);
  --semantic-extended-yellow-hover: var(--color-yellow-600);
  --semantic-extended-yellow-selected: var(--color-yellow-800);
  --semantic-fg-action-primary-active: var(--color-gray-950);
  --semantic-fg-action-primary-enabled: var(--color-gray-700);
  --semantic-fg-action-primary-hover: var(--color-gray-900);
  --semantic-fg-action-primary-selected: var(--color-gray-1000);
  --semantic-fg-action-secondary-active: var(--color-gray-200);
  --semantic-fg-action-secondary-enabled: var(--color-gray-50);
  --semantic-fg-action-secondary-hover: var(--color-gray-100);
  --semantic-fg-action-secondary-selected: var(--color-gray-300);
  --semantic-fg-black-active: var(--color-gray-900);
  --semantic-fg-black-enabled: var(--color-gray-1000);
  --semantic-fg-black-hover: var(--color-gray-950);
  --semantic-fg-black-selected: var(--color-gray-800);
  --semantic-fg-brand-primary-active: var(--color-blue-700);
  --semantic-fg-brand-primary-enabled: var(--color-blue-500);
  --semantic-fg-brand-primary-hover: var(--color-blue-600);
  --semantic-fg-brand-primary-selected: var(--color-blue-800);
  --semantic-fg-brand-secondary: var(--color-blue-100);
  --semantic-fg-danger-primary-active: var(--color-red-700);
  --semantic-fg-danger-primary-enabled: var(--color-red-500);
  --semantic-fg-danger-primary-hover: var(--color-red-600);
  --semantic-fg-danger-primary-selected: var(--color-red-800);
  --semantic-fg-disabled-primary: var(--color-gray-500);
  --semantic-fg-inverse-primary: var(--color-gray-0);
  --semantic-fg-inverse-secondary: var(--color-gray-300);
  --semantic-fg-primary: var(--color-gray-900);
  --semantic-fg-secondary: var(--color-gray-600);
  --semantic-fg-success-primary-active: var(--color-green-700);
  --semantic-fg-success-primary-enabled: var(--color-green-500);
  --semantic-fg-success-primary-hover: var(--color-green-600);
  --semantic-fg-success-primary-selected: var(--color-green-800);
  --semantic-fg-tertiary: var(--color-gray-500);
  --semantic-fg-warning-primary-active: var(--color-yellow-700);
  --semantic-fg-warning-primary-enabled: var(--color-yellow-500);
  --semantic-fg-warning-primary-hover: var(--color-yellow-600);
  --semantic-fg-warning-primary-selected: var(--color-yellow-800);
  --semantic-fg-white-active: var(--color-gray-100);
  --semantic-fg-white-enabled: var(--color-gray-0);
  --semantic-fg-white-hover: var(--color-gray-50);
  --semantic-fg-white-selected: var(--color-gray-200);
  --utilities-secondary: var(--color-pink-500);
  --utilities-primary: var(--color-pink-700);
  --checkerboard-base: #fff;
  --checkerboard-square: #e8e8e8;
}

@mixin dark-theme-variables {
  --semantic-bg-action-inverse-primary: var(--color-gray-800);
  --semantic-bg-action-inverse-secondary: var(--color-gray-950);
  --semantic-bg-action-primary-active: var(--color-gray-100);
  --semantic-bg-action-primary-enabled: var(--color-gray-300);
  --semantic-bg-action-primary-hover: var(--color-gray-200);
  --semantic-bg-action-primary-selected: var(--color-gray-50);
  --semantic-bg-action-secondary-active: var(--color-gray-600);
  --semantic-bg-action-secondary-enabled: var(--color-gray-800);
  --semantic-bg-action-secondary-hover: var(--color-gray-700);
  --semantic-bg-action-secondary-selected: var(--color-gray-300);
  --semantic-bg-black-primary: var(--color-gray-1000);
  --semantic-bg-black-secondary: var(--color-gray-950);
  --semantic-bg-brand-primary-active: var(--color-blue-300);
  --semantic-bg-brand-primary-enabled: var(--color-blue-500);
  --semantic-bg-brand-primary-hover: var(--color-blue-400);
  --semantic-bg-brand-primary-selected: var(--color-blue-50);
  --semantic-bg-brand-secondary-active: var(--color-blue-800);
  --semantic-bg-brand-secondary-enabled: var(--color-blue-950);
  --semantic-bg-brand-secondary-hover: var(--color-blue-900);
  --semantic-bg-brand-secondary-selected: var(--color-blue-700);
  --semantic-bg-danger-primary-active: var(--color-red-300);
  --semantic-bg-danger-primary-enabled: var(--color-red-500);
  --semantic-bg-danger-primary-hover: var(--color-red-400);
  --semantic-bg-danger-primary-selected: var(--color-red-200);
  --semantic-bg-danger-secondary-active: var(--color-red-400);
  --semantic-bg-danger-secondary-enabled: var(--color-red-600);
  --semantic-bg-danger-secondary-hover: var(--color-red-500);
  --semantic-bg-danger-secondary-selected: var(--color-red-300);
  --semantic-bg-disabled-primary: var(--color-gray-600);
  --semantic-bg-disabled-secondary: var(--color-gray-700);
  --semantic-bg-overlay-primary: var(--color-gray-transparent-1000);
  --semantic-bg-overlay-secondary: var(--color-gray-transparent-900);
  --semantic-bg-overlay-secondary-inverse: var(--color-gray-transparent-100);
  --semantic-bg-overlay-tertiary: var(--color-gray-transparent-600);
  --semantic-bg-overlay-tertiary-inverse: var(--color-gray-transparent-600);
  --semantic-bg-overlay-universal: var(--color-gray-transparent-950);
  --semantic-bg-primary: var(--color-gray-900);
  --semantic-bg-primary-inverse: var(--color-gray-100);
  --semantic-bg-secondary: var(--color-gray-950);
  --semantic-bg-select: var(--color-blue-transparent-950);
  --semantic-bg-separator-primary: var(--color-gray-transparent-600);
  --semantic-bg-separator-secondary: var(--color-gray-transparent-600);
  --semantic-bg-success-primary-active: var(--color-green-400);
  --semantic-bg-success-primary-enabled: var(--color-green-600);
  --semantic-bg-success-primary-hover: var(--color-green-500);
  --semantic-bg-success-primary-selected: var(--color-green-300);
  --semantic-bg-success-secondary: var(--color-green-800);
  --semantic-bg-tertiary: var(--color-gray-1000);
  --semantic-bg-text-selection: var(--color-blue-400);
  --semantic-bg-transparent: var(--color-transparent);
  --semantic-bg-warning-primary-active: var(--color-yellow-700);
  --semantic-bg-warning-primary-enabled: var(--color-yellow-500);
  --semantic-bg-warning-primary-hover: var(--color-yellow-600);
  --semantic-bg-warning-primary-selected: var(--color-yellow-600);
  --semantic-bg-warning-secondary: var(--color-yellow-800);
  --semantic-bg-white-primary-active: var(--color-gray-100);
  --semantic-bg-white-primary-enabled: var(--color-gray-0);
  --semantic-bg-white-primary-hover: var(--color-gray-50);
  --semantic-bg-white-primary-selected: var(--color-gray-200);
  --semantic-bg-white-secondary-active: var(--color-gray-200);
  --semantic-bg-white-secondary-enabled: var(--color-gray-50);
  --semantic-bg-white-secondary-hover: var(--color-gray-100);
  --semantic-bg-white-secondary-selected: var(--color-gray-300);
  --semantic-border-focus: var(--semantic-fg-primary);
  --semantic-extended-blue-active: var(--color-blue-200);
  --semantic-extended-blue-enabled: var(--color-blue-400);
  --semantic-extended-blue-hover: var(--color-blue-300);
  --semantic-extended-blue-selected: var(--color-blue-100);
  --semantic-extended-green-active: var(--color-green-200);
  --semantic-extended-green-enabled: var(--color-green-400);
  --semantic-extended-green-hover: var(--color-green-300);
  --semantic-extended-green-selected: var(--color-green-100);
  --semantic-extended-indigo-active: var(--color-indigo-200);
  --semantic-extended-indigo-enabled: var(--color-indigo-400);
  --semantic-extended-indigo-hover: var(--color-indigo-300);
  --semantic-extended-indigo-selected: var(--color-indigo-100);
  --semantic-extended-lime-active: var(--color-lime-200);
  --semantic-extended-lime-enabled: var(--color-lime-400);
  --semantic-extended-lime-hover: var(--color-lime-300);
  --semantic-extended-lime-selected: var(--color-lime-100);
  --semantic-extended-magenta-active: var(--color-magenta-200);
  --semantic-extended-magenta-enabled: var(--color-magenta-400);
  --semantic-extended-magenta-hover: var(--color-magenta-300);
  --semantic-extended-magenta-selected: var(--color-magenta-100);
  --semantic-extended-orange-active: var(--color-orange-200);
  --semantic-extended-orange-enabled: var(--color-orange-400);
  --semantic-extended-orange-hover: var(--color-orange-300);
  --semantic-extended-orange-selected: var(--color-orange-100);
  --semantic-extended-pink-active: var(--color-pink-200);
  --semantic-extended-pink-enabled: var(--color-pink-400);
  --semantic-extended-pink-hover: var(--color-pink-300);
  --semantic-extended-pink-selected: var(--color-pink-100);
  --semantic-extended-purple-active: var(--color-purple-200);
  --semantic-extended-purple-enabled: var(--color-purple-400);
  --semantic-extended-purple-hover: var(--color-purple-300);
  --semantic-extended-purple-selected: var(--color-purple-100);
  --semantic-extended-red-active: var(--color-red-200);
  --semantic-extended-red-enabled: var(--color-red-400);
  --semantic-extended-red-hover: var(--color-red-300);
  --semantic-extended-red-selected: var(--color-red-100);
  --semantic-extended-teal-active: var(--color-teal-200);
  --semantic-extended-teal-enabled: var(--color-teal-400);
  --semantic-extended-teal-hover: var(--color-teal-300);
  --semantic-extended-teal-selected: var(--color-teal-100);
  --semantic-extended-yellow-active: var(--color-yellow-200);
  --semantic-extended-yellow-enabled: var(--color-yellow-400);
  --semantic-extended-yellow-hover: var(--color-yellow-300);
  --semantic-extended-yellow-selected: var(--color-yellow-100);
  --semantic-fg-action-primary-active: var(--color-gray-50);
  --semantic-fg-action-primary-enabled: var(--color-gray-200);
  --semantic-fg-action-primary-hover: var(--color-gray-100);
  --semantic-fg-action-primary-selected: var(--color-gray-0);
  --semantic-fg-action-secondary-active: var(--color-gray-950);
  --semantic-fg-action-secondary-enabled: var(--color-gray-800);
  --semantic-fg-action-secondary-hover: var(--color-gray-900);
  --semantic-fg-action-secondary-selected: var(--color-gray-1000);
  --semantic-fg-black-active: var(--color-gray-900);
  --semantic-fg-black-enabled: var(--color-gray-1000);
  --semantic-fg-black-hover: var(--color-gray-950);
  --semantic-fg-black-selected: var(--color-gray-800);
  --semantic-fg-brand-primary-active: var(--color-blue-200);
  --semantic-fg-brand-primary-enabled: var(--color-blue-400);
  --semantic-fg-brand-primary-hover: var(--color-blue-300);
  --semantic-fg-brand-primary-selected: var(--color-blue-100);
  --semantic-fg-brand-secondary: var(--color-blue-700);
  --semantic-fg-danger-primary-active: var(--color-red-300);
  --semantic-fg-danger-primary-enabled: var(--color-red-500);
  --semantic-fg-danger-primary-hover: var(--color-red-400);
  --semantic-fg-danger-primary-selected: var(--color-red-200);
  --semantic-fg-disabled-primary: var(--color-gray-500);
  --semantic-fg-inverse-primary: var(--color-gray-900);
  --semantic-fg-inverse-secondary: var(--color-gray-500);
  --semantic-fg-primary: var(--color-gray-0);
  --semantic-fg-secondary: var(--color-gray-300);
  --semantic-fg-success-primary-active: var(--color-green-300);
  --semantic-fg-success-primary-enabled: var(--color-green-500);
  --semantic-fg-success-primary-hover: var(--color-green-400);
  --semantic-fg-success-primary-selected: var(--color-green-200);
  --semantic-fg-tertiary: var(--color-gray-500);
  --semantic-fg-warning-primary-active: var(--color-yellow-300);
  --semantic-fg-warning-primary-enabled: var(--color-yellow-500);
  --semantic-fg-warning-primary-hover: var(--color-yellow-400);
  --semantic-fg-warning-primary-selected: var(--color-yellow-200);
  --semantic-fg-white-active: var(--color-gray-100);
  --semantic-fg-white-enabled: var(--color-gray-0);
  --semantic-fg-white-hover: var(--color-gray-50);
  --semantic-fg-white-selected: var(--color-gray-200);
  --utilities-secondary: var(--color-pink-700);
  --utilities-primary: var(--color-pink-500);
  --checkerboard-base: #2a2a2a;
  --checkerboard-square: #3a3a3a;
}
